requests
pytest
structlog
curlify
pydantic
sqlalchemy
git+https://github.com/July-vilh/db_client.git
git+https://github.com/July-vilh/orm_client.git
git+https://github.com/July-vilh/restclient.git
git+https://github.com/July-vilh/apis.git


